.btns{
    display:flex;
    flex-direction: row;
    justify-content:flex-start;
    flex-wrap: wrap;
    width:100%;
    align-items:normal;
    margin-top: 2%;
}
.searchbar{
width: 60%;
}

.dropdownbtn{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: baseline;
    margin-left: 2%;
}

.clearsearch{
    height: 80%;
}
.searchsubmit{
    height: 80%;
}

